#temple
{
	width: 100vw;
}
#tourism
{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: mymove 3s infinite;
    margin-left: 30px;
	
	
	
}

@keyframes mymove{
    100% {transform :rotatey(360deg);}
            
}

#tourism1
{
    position: relative;
    animation-name: circle;
    animation-duration: 8s;
    animation-direction: normal;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
	
}

@keyframes circle{

   0%
			{
				left:0px;
				bottom: 470px;
			}
			25%
			{
				left: 1370px;
				bottom: 470px;
			}
			50%
			{
				left: 1370px;
				bottom: 0px;
			}
			 75%
			{
				left: 0px;
				bottom: 0px;
			}
			100%
			{
				left: 0px;
				bottom: 470px;
			} 

		}

#temple1
{
	font-weight: bold;
	text-align: justify;
	margin-left: 170px;
	margin-right: 170px;
	margin-top: -480px;
   


}
@media (max-width:1500px)
{
	#tourism1
	{
		display: none;
	}
	#tourism
	{
		display: none;
	}
	#temple
	{
		overflow-y: hidden;
	}
	
}



@media (max-width:1200px)
{
	#temple1
	{
		text-align: justify;
		font-size: 15px;
		margin-left: 100px;
		margin-right: 100px;
		margin-top: -550px;
	}
}
@media (max-width:850px)
{
	#temple1
	{
		text-align: justify;
		font-size: 13px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: -550px;
	}
}
@media (max-width:570px)
{
	#temple1
	{
		text-align: justify;
		font-size: 12px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: -550px;
	}
}
@media (max-width: 400px)
{
	#tourism
	{
		display: none;
	}
	
	
	#temple1
	{
		text-align: justify;
		font-size: 12px;
		margin-left: 8px;
		margin-right: 8px;
		
	}
}