#head1
{
    background-color: navy;
    height: 130px;
    width: 1536px;
    position: fixed;
    z-index: 9999;    
}
#head1 img
{
height: 120px;
width: 120px;
margin-top: 0px;
position: fixed;
z-index: 9999;
}
#head1 h2
{
font-size: 32px;
color: white;
margin-left: 110px;
margin-top: 35px;
position: fixed;
z-index: 9999;
}


#nl1
{
   margin-left: 400px;
  margin-top: -35px;
}
#nl2
{
  margin-left: 18px;
  margin-top: -35px;
}
button
{
  border-radius: 25px 10px  ;
}
