#myVideo
{
    object-fit: cover;
    width: 100vw;
    height: 80vh;
}
@media (max-width: 400px)
{
  #myvideo
  {
    width: 100%;
  }
  
 
}

#back
{
  margin-top: -55px;
  margin-left: 1040px;
  font-size: 40px;
  color: rgba(225,225,225, 0.5);
  font-family: cursive;
  display: block;
  width: 100%;
}


.tabs-container
{
margin-top: -21px;
width: 100vw;
padding-bottom: 5px;
background-color: wheat;
display: block;
min-height: 70vh;
}


.tab-pane {
  display: none;
}
.tab-pane.active  {
  display: block;
}
.tab-button.active {
  background-color: lightgreen; /* Example active state */
  cursor: pointer;
  font-weight: 600;
}
.tab-buttons button
{
  height: 40px;
  width: auto;
  border-radius:0% ;
  
}

#groupimg img
{
  height: 250px;
  width: 250px;
}
#groupimg img:hover
{
  cursor: pointer;
  transform: scale(1.1);
}
.tab-button
{
  background-color: red;
 font-weight: 600;
}

#imageback
{ 
  width: 100vw;
  height:74vh;
  background-image: linear-gradient(red, yellow, green);
  margin-top: -4px;
  
}
#back1
{
  height: 74vh;
  width: 90vw;

}
#back1
{
  padding-left: 10rem;
}
@media (max-width:1000px)
{
  #back1
{
  padding-left: 0rem;
  width: 100vw;
}

}
@media (max-width:448px)
{
  #back1
  {
    height: 40vh;
  }
}

#groupimg
{
  margin-top: -15px;
}

#endbox
{
  width: 100vw;
 display: flex; 
  background-color: navy;
  padding-top: 10px;
 padding-bottom: 0px;
}

/* #vision
{
  margin-left: 100px;
} */

#endbox1 
{
  
  
  color: white;
  padding-right: 10px;
 
  
  
}
#endbox1 p
{

  margin-top: -30px;
   
  
  
}


 

#endbox3 iframe
{
 margin-top: 0px;
  width: 25vw;
  padding-right: 10px;
  
  
  
}
#endbox3:hover
{
  transform: scale(1.0);
   
}
#endbox4 #id4
 {
  margin-top: 20px;
  width: 25vw;
  padding-right: 20px;
 height: 45vh;
 padding-left: 10px;
}

#imageback
{
  width: 100vw;
}
#imageback #back
{
  width: 100vw;
}

@media (max-width:900px)
{
  #endbox4
  {
    display: none;
  }
  #endbox1
  {
    padding-left: 10px;
  }
  #endbox3
  {
    display: none;
  }
}
@media (max-width:500px)
{
  #imageback
  {
display: none;
  }
  
}