#menu #menuitems  
{
    display: none;
    position: relative;
  z-index: 1;
}

#menu:hover #menuitems
{
    display: block;
    cursor: pointer;
}
#menu
{
    cursor: pointer;
    background-color: red;
    columns: black;
    display: inline-block;
    max-height: 40px;
    
}
#menuitems
{
    background-color: whitesmoke;
    color: green;
}
#menuitems h5:hover
{
    background-color: chocolate;

    
}
