#nl
{
text-decoration: none;
padding: 19px;
font-size: 18px;
  color: white;  
text-align: center;
cursor: pointer;
float: right; 

}

#nav1 span
{
text-decoration: none;
padding: 19px;
font-size: 18px;
  color: white;  
text-align: center;
cursor: pointer;
float: right; 

}

#nl:hover
{
    color: red;
    background-color: moccasin;
    height: fit-content;
    transform: scale(1.0);
    transition: 0.5s;

    
}
#nav1:hover 
{
    color: red;
    background-color: moccasin;
    transform: scale(1.0);
    height: fit-content;
    transition: 0.5s;
}

#navitems1:hover:after  #nav1
{
  color: red;
}
nav
{
     display: flex; 
    /* float: right; */
    position: fixed;
    margin-left: 1081px;
    margin-top: 65.5px;
    z-index: 9999;
}


#nav1 span:hover
{
  color: red;
}

#navitems1
{
  display: block;
}
#nav1 #navitems1
{
  display: none;
}

#nav1:hover #navitems1
{
  display: block;
}
#nav1
{
  display: inline-block;
  position: relative;
}
#navitems1 h6:hover
{
  
 background-color: white; 
 color: red;
  width: 140px;
  height: 27px;
  margin-left:0px;
  text-align: center;
  padding: 0px;
  transform: scale(1.0);
}
h6
{
font-size: 16px;
margin-left: 0px;
margin-top: -20px;
text-align: center;
}
#navitems1 
{
  background-color: whitesmoke;
  margin-top: 65px;
 /* border: 1px solid red ; */
 height: 110px;
 text-align: center;
}

#nl:focus
{
color: red;
}
#nav1:has(#navitems1:hover) span
{
  color: red;
}

/* in dropdown parent and child container :has() is used, #nav1 as :has and #navitems1:hover
 as child then span as parent sub :tag used.important.
focus is used as clicked nav button.important */
@media (max-width: 400px) {
      nav {
        
        margin-left: 25px;
        
       
      }
      #nl
      {
        font-size: 12px;
        margin-top: 23px;
        padding: 12px;
         align-items: center;
      }
      #nav1 span
      {
        font-size: 12px;
        margin-top: 23px;
        padding: 12px;
         
      }
  #nav1:hover 
{
    color: red;
    background-color: moccasin;
    transform: scale(1.0);
    height: 40px;
    transition: 0.5s;
    margin-top: auto;
    
}
#nav1 span:hover
{
color: red;
margin-top: 0px;
}
 #navitems1 
{
  margin-top: 40px;
  height: 100px;
 
}
#navitems1 h6
{
  font-size: 12px;
  margin-top: 0px;
   height: 17px;
}
#navitems1:hover
{
 margin-top:40px;
 
}
#navitems1 h6:hover
{
  width: 90px;
  text-align: center;
  
 
}

  
  }