#nl
{
text-decoration: none;
padding: 19px;
font-size: 1.1rem;
  color: white;  
max-width: 140px;
cursor: pointer;
margin-top: 1px;
}


#nav1 
{
text-decoration: none;
padding: 19px;
font-size: 1.1rem;
  color: white;  
max-width: 140px;
cursor: pointer;
margin-top: 1px;


}



#nl:hover
{
    color: red;
    background-color: moccasin;
    height: fit-content;
    transform: scale(1.0);
    transition: 0.5s;
 /* border-bottom: 2px solid moccasin;  */
    
}
#nav1:hover 
{
    color: red;
    background-color: moccasin;
    transform: scale(1.0);
    height: 65px;
 /* border-bottom: 2px solid white;      */
    transition: 0.5s;
}

#navitems1:hover:after  #nav1
{
  color: red;
}
nav
{
     display: flex; 
    
  
    
margin-top: 64px;    
    z-index: 1000;
    

    
    
    
}

#nav1 span:hover
{
  color: red;
  
}

#navitems1
{
  display: block;
  
}
#nav1 #navitems1
{
  display: none;
}

#nav1:hover #navitems1
{
  display: block;
}
#nav1
{
  display: inline-block;
  position: relative;
}
#navitems1 h6:hover
{
  
 background-color: white; 
 color: red;
  width: 8.7rem;
  height: 1.8rem;
  margin-left:0px;
  text-align: center;
  padding: 0px;
  transform: scale(1.0);
 
}



 h6
{
height: 25px;

width: 150px;
padding-right:10px ;
} 
#navitems1 
{
  background-color: whitesmoke;
  margin-top: 19px;
 width: 140px;
 height: 130px;
 margin-left: -19px;
 text-align: center;

}

#nav1 span:hover #navitems1
{
  width: 1500px;
}
#nl:focus
{
color: red;
}
#nav1:has(#navitems1:hover) span
{
  color: red;
}

/* in dropdown parent and child container :has() is used, #nav1 as :has and #navitems1:hover
 as child then span as parent sub :tag used.important.
focus is used as clicked nav button.important */

@media (max-width:844px)
{
  nav
  {
    margin-top: 86px;
  }
#nl
{
  padding: 8px;
}
#nav1
{
  display: none;
}


}

@media (max-width:455px)
{
 
  nav
  {
    margin-top: 96px;
  }
  #nl
  {
    margin-top: 6px;
    padding:  5px;
    font-size: 0.7rem;
  }
}
@media (max-width:310px)
{
 
  nav
  {
    margin-top: 96px;
  }
  #nl
  {
    float: left;
    margin-top: 6px;
    padding:  5px;
    font-size: 0.7rem;
  }
}
@media (max-width:314px)
{
  nav {
    margin-left: -160px;
  }
}